:root {
    --highlight-colour: rgb(0, 0, 255);
    --highlight-text: rgb(250, 250, 250);
    --visible-highlight-colour: var(--highlight-colour);
    --background: color-mix(in oklab, white 90%, var(--highlight-colour) 10%);
    --background-text: rgb(50, 50, 50);
    --hovered-background: color-mix(in oklab, white 40%, var(--highlight-colour) 10%);
    --hovered-background-text: rgb(10, 10, 10);
    --active-background-text: rgb(150, 150, 150);
    --transparent-background: color-mix(in oklab, white 95%, var(--highlight-colour) 5%);
    --scale: 0.75;
    --margin: calc(3.125rem * ((1 - var(--scale)) / 2));
    --transition:  0.25s, scale 0.25s cubic-bezier(.49,1.64,.82,1.65), left 0.35s cubic-bezier( 0.67, 1.87, 0.42, 0.77 ), right 0.35s cubic-bezier( 0.67, 1.87, 0.42, 0.77 ), height 0.25s cubic-bezier(.49,1.64,.82,1.65);
    --radius: 1.25rem;
    --pannel-padding: 0px;
    --blur-amount: 5px;
    --shadow: color-mix(in oklab, black 10%, var(--background) 90%);
    --shadow-weight: 10px;
    --max-tab-width: 100%;
    --min-tab-width: 2rem;
    --foreground: white;
    --foreground-text: black;
    --slider-height: 0.65rem;
    --percent: 0%;
    --transparent-foreground: rgba(255, 255, 255, 0.5);
}
.dark-theme {
    --highlight-colour: blue;
    --visible-highlight-colour: color-mix(in oklab, blue 25%, white 50%);
    --background: color-mix(in oklab, black 65%, var(--highlight-colour) 35%);
    --background-text: rgb(200, 200, 200);
    --hovered-background: color-mix(in oklab, var(--background) 75%, white 25%);
    --hovered-background-text: rgb(200, 200, 200);
    --foreground: rgb(25, 25, 25);
    --foreground-text: rgb(240, 240, 240);
    --shadow: color-mix(in oklab, white 75%, var(--background) 25%);
}
@media (prefers-color-scheme: dark){
    .device-theme {
        --highlight-colour: blue;
        --visible-highlight-colour: color-mix(in oklab, blue 25%, white 50%);
        --background: color-mix(in oklab, black 65%, var(--highlight-colour) 35%);
        --background-text: rgb(200, 200, 200);
        --hovered-background: color-mix(in oklab, var(--background) 75%, white 25%);
        --hovered-background-text: rgb(200, 200, 200);
        --foreground: rgb(25, 25, 25);
        --foreground-text: rgb(240, 240, 240);
        --transparent-foreground: rgba(25, 25, 25, 0.5)
    }
}
@media (hover:none) {
    html {
        font-size: 112%;
    }
}
body * {
    -webkit-tap-highlight-color: transparent;
}
@media (hover:hover){
    .button:hover {
        --colour: var(--hovered-background-text);
        background: var(--hovered-background);
    }
    #search-bar:hover {
        background: var(--hovered-background);
        --colour: var(--hovered-background-text);
        backdrop-filter: blur(var(--blur-amount));
    }
    .tab:not(.selected):hover {
        background: var(--hovered-background);
        color: var(--hovered-background-text);
    }
}
body {
    background: var(--background);
    color: var(--background-text);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#pannels {
    width: calc(100% - var(--margin) * 2);
    height: calc(6.25rem - var(--margin));
    box-sizing: border-box;
    position: absolute;
    left: var(--margin);
    top: var(--margin);
    padding: var(--pannel-padding);
    border-radius: var(--radius);
    z-index: 1;
}
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: var(--margin);
    gap: var(--margin);
}
.button {
    width: calc(3.125rem * var(--scale));
    height: calc(3.125rem * var(--scale));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: calc(var(--radius) * var(--scale));
    transition: var(--transition);
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    --colour: var(--background-text);
    --current-transition: var(--transition);
    overflow: hidden;
}
.button * {
    transition: var(--current-transition);
    stroke: var(--colour);
    border-color: var(--colour);
    color: var(--colour);
}
.button:active {
    transition: 0s;
    scale: calc(0.9/var(--scale));
    --colour: var(--active-background-text);
    --current-transition: 0s;
    background: var(--hovered-background);
}
.button:focus-visible {
    border: 0px;
    box-shadow: 0px 0px 0px 2px var(--highlight-colour);
    outline: 0px;
}
#mock-search-bar {
    width: 100%;
    height: calc(3.125rem * var(--scale));
    border-radius: calc(var(--radius) * var(--scale));
    transition: var(--transition);
    position: relative;
    font-family:'Times New Roman', Times, serif;
    --colour: var(--background-text);
    cursor: pointer;
}
#search-bar {
    height: calc(3.125rem * var(--scale));
    border-radius: calc(var(--radius) * var(--scale));
    transition: var(--transition);
    font-family:'Times New Roman', Times, serif;
    --colour: var(--background-text);
    cursor: pointer;
    position: absolute;
    left: calc(6.25rem - var(--margin) * 2);
    right: calc(6.25rem - var(--margin) * 2);
}
#search-bar input {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: transparent;
    border: 0px;
    border-radius: calc(var(--radius) * var(--scale));
    display: flex;
    text-align: center;
    outline: none;
    font-size: 1.25rem;
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
    color: var(--colour);
}
#search-bar input::placeholder {
    opacity: 1;
    color: var(--colour);
    transition: var(--transition);
}
#search-bar input:focus::placeholder {
    opacity: 0.5;
}
#search-bar:has(input:focus){
    background: var(--hovered-background);
    color: var(--hovered-background-text);
    --colour: var(--hovered-background-text);
    box-shadow: 0 3px var(--shadow-weight) var(--shadow);
    cursor: text;
    backdrop-filter: blur(var(--blur-amount));
}
#search-bar input:focus {
    cursor: text;
}
#pannel-icon, #compose-icon {
    width: calc(3.125rem * var(--scale) * 0.6);
    height: calc(3.125rem * var(--scale) * 0.6);
    position: absolute;
    outline: calc(0.09375rem * var(--scale)) solid var(--colour);
    border-radius: calc(var(--radius) * var(--scale) * 0.6);
    transform-origin: center center;
    margin: 0px;
}
#pannel-icon::before {
    content: "";
    width: calc(0.09375rem * var(--scale));
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0px;
    background: var(--colour);
    transition: var(--current-transition);
}
#line-holder {
    width: 50%;
    height: 100%;
    clip-path: inset(calc(var(--margin) * 0.6 * var(--scale)) calc(var(--margin) * 0.6 * var(--scale)) calc(var(--margin) * 0.6 * var(--scale)) calc(var(--margin) * 0.6 * var(--scale)) round calc(var(--radius) * var(--scale)) 0 0 calc(var(--radius) * var(--scale)));
}
#line-holder div{
    width: 100%;
    height: calc(0.09375rem * var(--scale));
    position: absolute;
    background: var(--colour);
    top: 0px;
}
#line-holder div:nth-of-type(1){
    translate: 0 calc(3.125rem * var(--scale) * 0.6 * 0.25 - 0.75px);
}
#line-holder div:nth-of-type(2){
    translate: 0 calc(3.125rem * var(--scale) * 0.6 * 0.5 - 0.75px);
}
#line-holder div:nth-of-type(3){
    translate: 0 calc(3.125rem * var(--scale) * 0.6 * 0.75 - 0.75px);
}
#compose-icon {
    clip-path: polygon(-100% -100%, -100% 200%, 200% 200%, 200% 25%, 75% 25%, 75% -100%, -100% -100%);
}
#pen-icon {
    width: calc(0.09375rem * var(--scale));
    height: 50%;
    position: absolute;
    left: calc(50% - 0.75px);
    bottom: 50%;
    background: var(--colour);
    transition: var(--current-transition);
    transform-origin: center bottom;
    rotate: 45deg;
}
#new-tab div {
    width: calc(100% * 0.6);
    height: calc(0.09375rem * var(--scale));
    background: var(--colour);
    position: absolute;
    left: 0px;
    top: 0px;
    translate: calc(3.125rem * var(--scale) / 2 - 3.125rem * var(--scale) * 0.3) calc(3.125rem * var(--scale) / 2 - 0.75px);
}
#new-tab div:nth-of-type(2){
    transform-origin: center center;
    rotate: 90deg;
}
#tab-bar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 3.125rem;
    position: absolute;
    width: 100%;
    left: 0px;
    top: calc(3.125rem - var(--margin));
    z-index: 1;
}
.tab {
    max-width: var(--max-tab-width);
    min-width: var(--min-tab-width);
    width: 100%;
    margin-left: calc(var(--margin) / 2);
    margin-right: calc(var(--margin) / 2);
    flex-grow: 1;
    flex-shrink: 1;
    height: calc(3.125rem * var(--scale));
    border-radius: calc(var(--radius) * var(--scale));
    cursor: pointer;
    transition: var(--transition);
    user-select:none;
    -moz-user-select: none;
    -webkit-user-select: none;
    color: var(--background-text);
    position: relative;
}
.futureSelected.tab {
    transition: var(--transition), color 0s;
    color: color-mix(in oklab, var(--foreground-text) var(--percent), var(--background-text));
}
.selected.tab {
    cursor: default;
    color: color-mix(in oklab, var(--foreground-text), var(--background-text) var(--percent));
    transition: var(--transition), color 0s;
}
.tabContent {
    transition: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    mask-image: linear-gradient(to right, black calc(100% - var(--radius)), transparent);
    -webkit-mask-image: linear-gradient(to right, black calc(100% - var(--radius)), transparent);
    mask-repeat: no-repeat;
}
.tab:hover .tabContent{
    mask-position: top 0px right calc((3.125rem - var(--margin)) * var(--scale));
}
.tab:not(.selected):active:not(.tab:has(.closetab:active)) .title {
    opacity: 0.375;
}
.tab:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--highlight-colour);
    outline: 0px;
}
.tab:not(.selected):active:not(.tab:has(.closetab:active)) {
    scale: 1.1;
    transition: 0s;
    background: var(--hovered-background);
}
.tab:first-of-type {
    margin-left: 0px;
}
.tab:last-of-type {
    margin-right: 0px;
}
.tab span {
    font-size: 1rem;
}
.favicon {
    display: inline;
    border-radius: calc(var(--radius) * var(--scale) * 0.4);
    margin: 0px;
    padding: 0px;
    margin-right: calc(3.125rem * var(--scale) * 0.4 + var(--margin));
    transition: inherit;
    position: sticky;
    scale: 0.75;
    width: 1rem;
    height: 1rem;
}
.favicon div {
    transition: inherit;
}
.favicon div::before {
    transition: inherit;
}
.timeline-favicon div {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: calc(var(--radius) / 3.125);
}
.timeline-favicon div::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: calc(50% - var(--margin) * 0.16);
    background: rgb(255, 64, 64);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.timeline-favicon div:nth-of-type(2){
    scale: 1 -1;
}
.timeline-favicon div:nth-of-type(2)::before {
    background: rgb(255, 150, 75);
}
.calendar-favicon div {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: inherit;
}
.calendar-favicon div::before {
    content: "";
    width: calc(50% - var(--margin) * 0.16);
    height: calc(50% - var(--margin) * 0.16);
    background: rgb(255, 150, 75);
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: inherit;
}
.calendar-favicon div:nth-of-type(2){
    scale: -1 1;
}
.calendar-favicon div:nth-of-type(3){
    scale: 1 -1;
}
.calendar-favicon div:nth-of-type(2)::before{
    background: rgb(255, 64, 64);
}
.calendar-favicon div:nth-of-type(3)::before{
    background: rgb(240, 200, 0)
}
.todo-favicon div:not(.todo-favicon div div){
    width: 1rem;
    height: 1rem;
    border-radius: calc(var(--radius) / 3.125);
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}
.todo-favicon div div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1rem;
    height: calc(1rem / 3 - var(--margin) * 0.16);
    background: rgb(255, 64, 64);
    overflow: visible;
    border-radius: 50px;
}
.todo-favicon div:nth-of-type(2){
    translate: 0 calc(0.5rem - 50%);
    background: rgb(255, 150, 75)
}
.todo-favicon div:nth-of-type(3){
    translate: 0 calc(1rem - 100%);
    background: rgb(240, 200, 0)
}
.closetab {
    width: calc(3.125rem * var(--scale));
    height: calc(3.125rem * var(--scale));
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: calc(var(--radius) * var(--scale));
    scale: var(--scale);
    transition: var(--transition);
    opacity: 0;
    cursor: pointer;
}
.tab:hover .closetab {
    opacity: 100%;
}

.closetab::before {
    content: "";
    width: calc(1rem / var(--scale));
    height: calc(0.09375rem * var(--scale));
    background: var(--background-text);
    position: absolute;
    top: calc(50% - 0.0234375rem);
    rotate: 45deg;
    left: calc(50% - 0.5rem / var(--scale));
}
.closetab::after {
    content: "";
    width: calc(1rem / var(--scale));
    height: calc(0.09375rem * var(--scale));
    background: var(--background-text);
    position: absolute;
    top: calc(50% - 0.0234375rem);
    rotate: -45deg;
    left: calc(50% - 0.5rem / var(--scale));
}
.tab:active .closetab::before,  .tab:active .closetab::after{
    opacity: 0.375;
}
.closetab:hover {
    background: var(--background);
}
.closetab:active {
    scale: 0.9;
    transition: 0s;
}
.title {
    width: calc(100% - 1.5rem);
    height: 1rem;
    padding: 0px;
    text-align: center;
    transition: inherit;
    font-size: 1rem;
    white-space: nowrap;
}
#main {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: calc(100% - 3.125rem + var(--shadow-weight));
    overflow-x: scroll;
    overflow-y: visible;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}
#main::-webkit-scrollbar {
    display: none;
}
.screen {
    width: 100vh;
    min-width: 100vw;
    scroll-snap-align: start;
    position: relative;
    filter: drop-shadow(0px 5px var(--shadow-weight) var(--shadow));
    background: transparent;
    scroll-snap-stop: always;
}
.screenContent {
    position: absolute;
    left: var(--margin);
    top: calc(var(--shadow-weight));
    border: none;
    background: var(--foreground);
    width: calc(100% - var(--margin) * 2);
    height: calc(100% - var(--shadow-weight) - var(--margin));
    border-radius: calc(var(--radius) * var(--scale)) calc(var(--radius) * var(--scale)) var(--radius) var(--radius);
    overflow: hidden;
    content-visibility: auto;
    color: var(--foreground-text);
}
.scroller {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    left: 0px;
    top: 0px;
}
.scroller::before {
    content: "";
    position: relative;
    height: 6.25rem;
    display: inline-block;
    width: 100%;
}
.spinner {
    animation: spin 1.5s infinite;
    display: block;
}
@keyframes spin {
    0% {
        rotate: 0deg;
    }
    40% {
        scale: 0.75;
    }
    100% {
        rotate: 360deg;
        translate: 0 0;
    }
}
.control-bar {
    width: 100%;
    height: calc(6.25rem - var(--margin));
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: calc(var(--radius) * var(--scale)) calc(var(--radius) * var(--scale)) var(--radius) var(--radius);
    backdrop-filter: blur(var(--blur-amount));
    z-index: 1;
    background: var(--transparent-foreground);
    display: flex;
    justify-content: center;
    align-items: last baseline;
}
@media (max-width: 500px){
    #tab-bar {
        display: none;
    }
    .screenContent{
        clip-path: none !important;
    }
    .control-bar {
        height: 3.125rem;
    }
}
@keyframes tabGrow {
    from {
        flex-grow: 0;
        min-width: 0;
        width: 0;
    }
    to {
        flex-grow: 1;
    }
}
.contentLink {
    height: 3.125rem;
    display: flex;
    align-items: center;
    margin-top: 100%;
    cursor: pointer;
    position: relative;
    margin-right: 1.5rem;
}
.contentLink:hover {
    color: var(--visible-highlight-colour);
    text-decoration: underline;
}
.contentLink:not(.contentLink:last-of-type)::before {
    content: ">";
    left: 100%;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--foreground-text);
    position: absolute;
}
.control-search-bar {
    width: 2rem;
    height: 2rem;
    position: relative;
    display: block;
    translate: 0 -0.5625rem;
    scale: 0.75;
}
.control-search-bar::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 1rem;
    height: 1rem;
    outline: 0.09375rem solid black;
    top: 0.5rem;
    border-radius: 50%;
    display: block;
    padding: 0px;
    transform-origin: 1rem 0.5rem;
    rotate: 45deg;
}
.control-search-bar::after {
    content: "";
    position: absolute;
    left: 1rem;
    top: 0.953125rem;
    width: 1rem;
    height: 0.09375rem;
    background: var(--foreground-text);
    transform-origin: 0px 0px;
    rotate: 45deg;
}
.control-search-bar input {
    padding: 0px;
    border: none;
    cursor: pointer;
}